@media (prefers-color-scheme: light) {
:root {
    --background: #F0F4FF;
    --color: #000;
    --button-background-color-person-1: #FF7F50;
    --button-background-color-person-2: #32CD32;
    --button-background-color-hover: #F4F4F5;
    --button-color: #000;
    --button-color-hover: #09090B;
    --button-border-color: #E4E4E7;
    --input-border-color: #C0CCDA;
    --input-box-shadow-color: #0000000d;
    --li-color: #2E2E2E;
    --li-odd-child-brightness: 0.95;
}
}

@media (prefers-color-scheme: dark) {
:root {
    --background: #0A0F14;
    --color: #FFF;
    --button-background-color-person-1: #FF6347;
    --button-background-color-person-2: #228B22;
    --button-background-color-hover: #2A2A2E;
    --button-color: #000;
    --button-color-hover: #F6F6F6;
    --button-border-color: #8F9BB3;
    --input-border-color: #8F9BB3;
    --input-box-shadow-color: #00000099;
    --li-color: #B0B0B0;
    --li-odd-child-brightness: 1.5;
}
}

body {
    background-color: var(--background);
    color: var(--color);
    font-family: system-ui, Roboto, Arial, ui-sans-serif;
    padding: 1rem;
}

form div {
    margin-top: 16px;
}

h2 {
    font-size: 1.125rem;
    font-weight: 600;
    padding-top: 1.5rem;
}

ul {
    padding-inline: 0px;
    list-style-type: none;
}

li {
    color: var(--li-color);
    justify-content: space-between;
    display: flex;
    padding: 16px 16px;
    align-items: center;
}

li:nth-child(odd) {
    backdrop-filter: brightness(var(--li-odd-child-brightness));
}

input, form button {
    border-color: var(--input-border-color);
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    box-shadow: var(--input-box-shadow-color) 0px 1px 2px 0px;
    box-sizing: border-box;
    font-size: 0.875rem;
    font-weight: 400;
    height: 2.5rem;
    line-height: 1.25rem;
    margin-top: 8px;
    outline-width: 2px;
    outline-offset: 2px;
    padding-bottom: 0.5rem;
    padding-inline: 12px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
}

input[type=text], input[type=number] {
    width:100%;
}

#id_debtor {
    justify-content: space-between;
    display: flex;
}

#id_debtor div {
    display: flex;

}

form button {
    color: var(--button-color);
    border-color: var(--button-border-color);
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
}
form button::after {
    content: "👉";
    margin-left: 10px;
}

form button:hover {
    background-color: var(--button-background-color-hover) !important;
    color: var(--button-color-hover);
}

form button[name=debtor][value=P1] {
    background-color: var(--button-background-color-person-1);
}

form button[name=debtor][value=P2] {
    background-color: var(--button-background-color-person-2);
}

.timestamp {
    font-size: 0.75em;
    opacity: 0.75;
    white-space: nowrap;
    padding-inline-start: 1em;
}