<!doctype html>
{% load static %}
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#F0F4FF">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title%}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'iou/images/favicon.ico' %}" type="image/x-icon" />
    <link rel="manifest" href="/iou/site.webmanifest">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'iou/images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'iou/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'iou/images/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'iou/images/android-chrome-512x512.png' %}">
    <link rel="stylesheet" href="{% static 'iou/css/iou.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    {%block head %}{% endblock %}
</head>

<body>
    {% block content %}
    {% endblock %}
</body>

</html>