<!doctype html>
{% load i18n %}
{% load static %}
{% load iou_filters %}
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <title>{% translate "app_title" %}</title>
  <link rel="icon" href="{% static 'iou/images/favicon.ico' %}" type="image/x-icon"/>
  <link rel="stylesheet" href="{% static 'iou/css/iou.css' %}"/>
</head>

<body>
  <form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form }}
    </table>
  </form>

  <h2>{{ net_debt_text |default_if_none:"" }}</h2>
  <h2>{% translate "latest_debts" %}</h2>
  <ul>
  {% for latest_debt_text in latest_debts_text %}
    <li>{{ latest_debt_text }}</li>
  {% endfor %}
  </ul>
</body>

</html>