{% extends 'iou/base.html' %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load iou_filters %}

{%block title%}{% translate "app_title" %}{% endblock %}
{%block head%}
<script>
  document.addEventListener('htmx:confirm', function(evt){
    if (!evt.detail.question) return;
    evt.preventDefault();
    const dialog = document.getElementById('dialogBox');
    dialog.querySelector(".dialog--message").textContent = evt.detail.question;
    dialog.querySelector("#cancel").onclick = () => dialog.close();
    dialog.querySelector("#submit").onclick = () => {
      dialog.close();
      evt.detail.issueRequest(true);  // true to skip the built-in window.confirm()
    }
    dialog.showModal();
  })
</script>
{% endblock%}

{%block content%}

{% include "iou/partials/amount_form.html" %}
{% include "iou/spinner.html" %}
<dialog id="dialogBox" class="dialog-box">
  <div class="dialog--message"></div>
  <div class="button-bar">
    <button id="cancel">{% translate "dialog_cancel" %}</button>
    <button id="submit">{% translate "dialog_ok" %}</button>
  </div>
</dialog>
{% include "iou/partials/debt_list.html" %}
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="next" value="{%url 'login' %}">
  <button class="button--logout" type="submit">{% translate "Log out" %}</button>
</form>
{% endblock%}
