{% extends 'iou/base.html' %}
{% load i18n %}
{% load static %}

{%block title %}{% translate "passkeys_list_title" %}{%endblock%}
{%block content%}
  {{options | json_script:"parse_options"}}
  <script>
    async function onClickRegister(event) {
      const credential = await navigator.credentials.create({
        publicKey: PublicKeyCredential.parseCreationOptionsFromJSON(
          JSON.parse(document.getElementById('parse_options').textContent)
        )
      });
      event.target.form.credential_json.value = JSON.stringify(credential.toJSON())
      event.target.form.submit();
    }
  </script>
{% translate "passkeys_description" %}
<h2>{% translate "passkeys_list_title" %}</h2>
{% include "passkeys/partials/passkeys_list.html" %}
<form action="{% url 'passkeys:register-finish' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="credential_json"/>
  <button type="button" onclick="onClickRegister(event)">
    {% translate "btn_create_passkey" %}
  </button>
</form>
<hr>
<p>
    <a href="{% url 'iou:index'%}"><button>{%translate "back_to_iou" %}</button></a>
</p>
{%endblock%}
