{% extends 'iou/base.html' %}
{% load i18n %}
{% load static %}

{%block title %}{% translate "title_create_passkey" %}{%endblock%}
{%block content%}
  {{options | json_script:"parse_options"}}
  <script>
    async function onClickRegister(event) {
      const credential = await navigator.credentials.create({
        publicKey: PublicKeyCredential.parseCreationOptionsFromJSON(
          JSON.parse(document.getElementById('parse_options').textContent)
        )
      });
      event.target.form.credential_json.value = JSON.stringify(credential.toJSON())
      event.target.form.submit();
    }
  </script>
{% translate "create_passkey_description" %}
<form action="{% url 'passkeys:register-finish' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="credential_json"/>
  <button type="button" onclick="onClickRegister(event)">
    {% translate "btn_create_passkey" %}
  </button>
</form>
{%endblock%}
